.container-store{
  text-align: center;
  padding: 10px;
  width: 350px;
  height: 350px;
}
.cart-div{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-div button{
  font-size: 1rem;
  font-weight: 700;
}
.logo a{
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}